#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* fica atrás do conteúdo */
    background-color: #006b9f; /* cor parecida com a da imagem */
}
